.body{
    background-color: white;
    padding: 2%;
    overflow-x: hidden; 
    overflow-y: hidden; 
    width: 100vw;
    border: 1px solid rgb(00,00,00);

}
.corps{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid rgb(200,00,00); */
    background-color: #E2E5F4;
    border-top-right-radius: 20px; /* Rayon du coin supérieur droit */
    border-bottom-right-radius: 20px; /* Rayon du coin inférieur droit */
}
.corps1{
    background-color: #F3F6FF;
    border-top-right-radius: 20px; /* Rayon du coin supérieur droit */
    border-bottom-right-radius: 20px; /* Rayon du coin inférieur droit */
}
.corps2{
    height: 91vh;
}